amqp==5.3.1
APScheduler==3.11.2
asgiref==3.11.0
billiard==4.2.4
celery==5.6.2
cffi==2.0.0
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron_descriptor==2.0.6
cryptography==46.0.3
distlib==0.4.0
Django==4.2.11
django-apscheduler==0.7.0
django-celery-beat==2.8.1
django-ckeditor==6.7.3
django-ckeditor-5==0.2.19
django-js-asset==3.1.2
django-timezone-field==7.2.1
filelock==3.20.2
gunicorn==23.0.0
kombu==5.6.2
packaging==25.0
pillow==12.1.0
platformdirs==4.5.1
prompt_toolkit==3.0.52
pycparser==2.23
PyMySQL==1.1.2
python-crontab==3.3.0
python-dateutil==2.9.0.post0
pytz==2025.2
pyvmomi==9.0.0.0
setuptools==80.9.0
six==1.17.0
sqlparse==0.5.5
supervisor==4.3.0
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
vine==5.1.0
virtualenv==20.35.4
wcwidth==0.2.14
